/*层级关系
公共头部：3
内容：1
公共底部：3
搜索栏：2
全屏页：4
*/

#app {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#app .lock {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.outter {
    transition: 0.5s;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    /*overflow: hidden;*/
    /*bottom: 0;*/
}

.outter.hideLeft {
    opacity: 0.75;
    transform: translate3d(-100%, 0, 0);
    transition: 1.0s;
    overflow: hidden;
}

body {
    background: #fbf9fe;
}

.app-header {
    position: relative;
    transition: 0.3s;
    width: 100%;
    z-index: 3;
    height: 1rem;
    text-align: center;
}

.app-header.header-hide {
    margin-top: -45px;
}

.app-content {
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1;
    padding-bottom: 49px;
    width: 100%;
}

.app-footer {
    height: 1rem;
    position: relative;
}

.app-footer:not(:first-child)::before {
    content: " ";
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    border-top: 0.02rem solid #b7b7b7;
    background:none;
    height: 2px;
    z-index: 4;
}

.sub-page {
    position: absolute;
    top: 0;
    background: #eee;
    height: 100%;
    width: 100%;
    overflow: hidden;
    right: 0;
    z-index: 5;
}

a {cursor: pointer;}


/* ----选择弹层展示---- */
.fl-pop-box{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.fl-pop-head{
    height: 0.84rem;
    text-align: center;
    font-size: 0.34rem;
    color: #333;
    line-height: 0.84rem;
    border-bottom: 0.02rem solid #eee;
    position: relative;
}
.fl-pop-head:before{
    content: '\e620';
    font-family: 'iconfont'; 
    color: #333;
    position: absolute;
    top: 0;
    left: 0.3rem;
}
.fl-pop-txt{
    height: 0.84rem;
    width: 100%;
    box-sizing:border-box;
    padding-left: 0.3rem;
    overflow: hidden;
    text-overflow:ellipsis; white-space:nowrap;
    line-height: 0.84rem;
    font-size: 0.3rem;
    border-bottom: 0.02rem solid #eee;
}
.fl-pop-right{border-left: 0.02rem solid #e6e6e6;}
.flpopactive{position: relative;color: #4cd864; background-color: #f8f8f8;}
.flpopactive:after{
    content: "\E601";
    font-family: YDUI-INLAY;
    color: #4cd864;
    position: absolute;
    top: 0;
    right: 0.3rem;
}

/* ------选择弹层---结束---- */

/* ------线索详情共用布局----- */
.ms-g-box{margin-top: 0.2rem; padding: 0 0.3rem; background-color: #fff;}
.ms-g-item{min-height: 0.76rem; line-height: 0.76rem; align-items:flex-start; border-bottom:0.02rem solid #eee; font-size: 0.28rem;color: #444;}
.ms-g-lft{padding-right: 0.48rem;box-sizing:border-box; width: 1.7rem; text-align: right;}
.ms-g-rit{ color: #333; overflow: hidden; text-overflow:ellipsis;white-space:nowrap;}


.ms-g-nobor{border-bottom: 0;}

.ms-g-ftbox{height: 1rem; line-height: 1rem; text-align: center; font-size: 0.3rem; font-weight: 500;}
.ms-btns{background-color: #0bb908; color: #fff;}
.ms-btn-bk{background-color: #949494;width: 2rem;}
.ms-btn-tt{background-color: #058e02;width: 2rem;}
.ms-btn-red{background-color: #f96334;}

.ms-gx-lft{width: 0.7rem; font-family:"iconfont"; font-size: 0.4rem; color: #999;}

.ms-cell-arrow{justify-content:space-between;}
.ms-cell-arrow:after {
    margin-left: .05rem;
    margin-right: -.08rem;
    display: block;
    font-family: YDUI-INLAY;
    font-size: .34rem;
    color: #c9c9c9;
    content: "\E608";
}
/* ------线索详情共用布局---结束----- */
#app .all-item-box{width: 100%; height: auto;}
/* ------步骤盒子----- */
.step-box{height: 2.5rem;border-bottom: 0.25rem solid #eee; width: 100%; padding: 0 0.6rem; }
.step-min{position: relative; width: 100%; height: 100%; justify-content:space-between; align-items:center;}
.step-min:before{content: ' '; width: 80%; height: 0.02rem; background-color: #ccc;position: absolute;top: 0.85rem; left: 10%; z-index: 1;}
.step-item{ width: 1.2rem; text-align: center; position: relative; z-index: 4;font-size: 0.26rem;}
.step-item:before{content: '1'; width: 0.6rem; height: 0.6rem; border-radius: 0.6rem; color: #666;font-size: 0.26rem; font-weight: 500; border:0.02rem solid #ccc; display: block;margin:0 auto 0.2rem; background-color: #fff; line-height: 0.6rem;}
.step-item:nth-child(2):before{content: '2';}
.step-item:nth-child(3):before{content: '3';}
.step-active{color: #04be02;}
.step-active:before{ background-color: #04be02; color: #fff;}
/* ------按钮样式----- */
#app .btn-block{height: 0.85rem;}
#app .btn-disabled{background-color: #dedede; color: #555;}
.m-confirm .confirm-hd,.m-confirm .confirm-bd{text-align: center;}
body .m-notify{z-index: 9999;-webkit-transform: translateZ(0);background-color: rgba(244, 67, 54, 0.88); font-size: 0.28rem; font-weight: 500;}




.parentheses {}
.parentheses:before { content: "(";}
.parentheses:after {content: ")";}
.search-open-contact {top: 0;}
.search-open-contact .search-open {margin-top: -45px;}
.search-open-contact #wx-header {top: -45px !important;}
.weui-cell__hd {margin-right: 10px;}
.weui-cell__hd img { width: 40px;}



