
@font-face {
  font-family: 'iconfont';  /* project id 268446 */
  src: url('//at.alicdn.com/t/font_n144c7thw9sy8pvi.eot');
  src: url('//at.alicdn.com/t/font_n144c7thw9sy8pvi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_n144c7thw9sy8pvi.woff') format('woff'),
  url('//at.alicdn.com/t/font_n144c7thw9sy8pvi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_n144c7thw9sy8pvi.svg#iconfont') format('svg');
}

::-webkit-scrollbar {display: none;}
#app{
    height:100%;
}

.mt10{margin-top: 10px;}
/** 水平伸缩容器**/
.row-flex{
    -moz-box-orient: horizontal;
    -webkit-box-orient: horizontal;
    -moz-box-direction: normal;
    -webkit-box-direction: normal;
    -moz-box-lines: multiple;
    -webkit-box-lines: multiple;
    -ms-flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}
/** 垂直伸缩容器**/
.col-flex{
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    -moz-box-direction: normal;
    -moz-box-lines: multiple;
    -webkit-box-lines: multiple;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
}

/** 伸缩容器**/
.flex-wrap{
    /** 各种版本兼容**/
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

/** 垂直居中**/
.midCenter{
    /** 垂直居中核心**/
    -moz-box-pack: center;
    -webkit-box-pack: center;
    box-pack:center;
    -moz-box-align: center;
    -webkit-box-align: center;
    box-align: center;
    box-pack:center;
    -ms-flex-pack:center;
    display: -ms-flexbox;
    -ms-flex-align:center;
    justify-content:center;
    align-items: center;
}

/** 占位器**/
.page{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    overflow: hidden;
}

/** 真正滚动**/
.scroll-wrap{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling:touch;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.page-box{
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling:touch;
}


.isBuy,.noBuy{
    position: relative;
}

.fr-textarea{
    width: 100%;
    background: #fff;
    border: 10px solid #fff;
    font-size: 14px;
    overflow-y: scroll;
    border-radius: 5px;
    box-sizing:border-box;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-active {
  opacity: 0
}

.alert-fade-enter-active {
  transition: all .3s ease;
}
.alert-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.alert-fade-enter, .alert-fade-leave-active {
  opacity: 0;
}

.list-item {}
.list-enter-active, .list-leave-active {
  transition: all 1s;
}
.list-enter, .list-leave-active {
  opacity: 0;
  transform: translateY(30px);
}


.fade-left-enter-active , .fade-left-leave-active{
    transition: all .5s ease;
}
.fade-left-leave-active{
    transform: translateX(-500px);
    opacity: 0;
}
.fade-left-enter {
    transform: translateX(500px);
    opacity: 0;
}
/**----------加载动画--------------**/
.jump-cover{position: fixed;left:0;top:0;width: 100%;height:100%;z-index: 1001;background: #f5f5f5;}
.jump-cover .loading{position: absolute;margin:0;left:50%;top:50%;-webkit-transform: translate3d(-50%,-50%,0);transform: translate3d(-50%,-50%,0);}

.loading{display: none;position: relative;margin:8px auto 5px;width:85px;padding-top: 33px;font-size: 0;color: #999; overflow: hidden; text-align: center; 
    background: url(./loadBg.png) no-repeat 50% 0;
    -webkit-background-size: 192px 30px;background-size: 192px 30px;-webkit-animation: loaing-animation linear 1.5s infinite; animation: loaing-animation linear 1.5s infinite;}
.loading:before{content: '';position: absolute;left: 0;top: 0;width: 100%;height: 30px;
background: -webkit-gradient(linear, 0 0, 100% 0,from(#f5f5f5), color-stop(0.1, rgba(245,245,245,0)), color-stop(0.9, rgba(245,245,245,0)),to(#f5f5f5));
    background: linear-gradient(90deg,#f5f5f5 0, rgba(245,245,245,0) 10%, rgba(245,245,245,0) 90%,#f5f5f5 100%);
}
.loading:after{content: '正在加载中...';font-size: 14px;}
.loading.visible{display: block;}
.loading-ring{content: '';position: absolute;left: 50%;top:9px;margin-left: -27px;width: 49px; height:18px;font-size: 0;
background: url(./loadCar.png) no-repeat 0 0;
-webkit-background-size: 49px 18px;background-size: 49px 18px;}
.loading-ring:before,.loading-ring:after{content: '';position: absolute;left: 19px;top: 16px;width: 5px; height: 5px;
background: url(./loadGl.png) no-repeat 0 0;
-webkit-background-size: 5px 5px;background-size: 5px 5px; -webkit-animation: wheel linear 0.2s infinite; animation: wheel linear 0.2s infinite; }
.loading-ring:after{left: 40px;}
 @-webkit-keyframes loaing-animation {
    0% { background-position: 10% 0;}
    100% {background-position: 100% 0; }
}
@keyframes loaing-animation {
    0% { background-position: 10% 0;}
    100% {background-position: 100% 0; }
}

@-webkit-keyframes wheel{
    0% {-webkit-transform:rotate(0deg);}
    100% {-webkit-transform:rotate(360deg);}
}
@keyframes wheel{
    0% {transform:rotate(0deg);}
    100% {transform:rotate(360deg);}
}
